<%- include('includes/head.ejs')%>
</head>

<body>
    <header class="main-header">
        <%- include('includes/navigation.ejs')%>
    </header>
    <h1>Some Error Occured</h1>
    <h3>Go to homepage or contact the support team</h3>
<%- include('includes/end.ejs')%>